{% extends "base.html" %}
{% load humanize %}
{% block content %}

<h2 id='postsTitle'>Posts</h2>
<hr>
<ul>
  {% if post_list %}
  {% for post in post_list %}
  <li>
  <a href="{% url 'post-detail' pk=post.pk %}">{{post.title}}</a><br>
  Author: {{post.user}}, created {{post.published_date | timesince}} ago</a><hr>
  {{post.text}}
  </li>
  {% endfor %}
  {% else %}
  <p>Nothing to show</p>
  {% endif %}
</ul>

<button type="button" name="button"><a href="{% url 'add-post' %}">Click to add post</a></button>
{% endblock %}
