{% extends "base.html" %}
{% load humanize %}

{% block content %}
  <h6>{{post.title}}</h6>
    <p>{{post.pub_date_pretty}}</p>
    <p>{% if post_edited_at %}
      {{post_edited_at}}
    {% endif %}<p>
    <p>{{post.user}}</p>
  <hr>
  <br>
    <p>{{post.text}}</p>
  <hr>
  <p>
  <a href="{% url 'add-comment' post.slug %}">Add comment</a>
  {% if request.user == post.user %}
    <p><a href="{% url 'delete-post' post.slug %}">Delete Post</a></p>
    <p><a href="{% url 'edit-post' post.slug %}">Edit Post</a></p>
  {% else %}
    <p></p>
  {% endif %}

  {% for comment in post.comments.all %}
  <!--Constraints:
    1) If comment.user is request.user -> user can see unapproved cooment  %}
    2) If user.is_superuser -> user can see, and approve comment
    3) If user is neither the owner of comment or is_superuser, s/he can...
    4) neither approve, nor see comment.<-->
     {% if user.is_authenticated or comment.approved_comment %}
      <div class="comment">
        <div class="date">
        {{comment.created_date}}
        <strong>{{comment.user}}</strong>
        <p>{{comment.text | linebreaks }}</p>
        <!--If comment is not yet approved-->
          {% if not comment.approved_comment %}
            <!--If request.user == comment.user show comment only visible to him and is_superuser
                But don't show user 'approve' button that is only visible to superuser-->
              <a href="{% url 'approve-comment' comment.pk %}">Approve comment</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% empty %}
      <p>There is no comment</p>
  {% endfor %}

{% endblock %}
