{% extends "base.html" %}
{% load humanize %}

{% block content %}
  <h6>{{post.title}}</h6>
    <p>{{post.pub_date_pretty}}</p>
    <p>{{post.user}}</p>
  <hr>
  <br>
    <p>{{post.text}}</p>
  <hr>
  <p>
  <a class="btn btn-default" href="{% url 'add-comment' post.slug %}">Add comment</a>
  {% if request.user == post.user %}
    <p><a href="{% url 'delete-post' post.slug %}">Delete this post</a></p>
  {% else %}
    <p></p>
  {% endif %}

  {% for comment in post.comments.all %}
      <p>
      {{comment.created_date}}
      by {{comment.user}}
      {{comment.text | linebreaks }}
      </p>
  </p>
  {% empty %}
      <p>There is no comment</p>
  {% endfor %}

{% endblock %}
